.about_me h2 {
    margin-bottom: 0;
}

.information {
   display: grid;
   grid-template-columns: 1fr .5fr;
   min-height: 400px;
   gap: 8rem;
}

.information__text {
    display: grid;
    grid-template-rows: repeat(3, 1fr);

    justify-items: center;
    align-items: center;
}

.information__text___button button {
    margin-right: 6rem;

    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: transparent;
    color: #EEEEEE;
    padding: 0.6rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}

.information__text___button button:hover {
    border-color: #9AEBA3;
    color: #9AEBA3;

    transition: 1s;
}

.information__text___button a {
    color: #9AEBA3;
    text-decoration: underline;
}

.information__text___social li{
    display: inline-block;
}

.information__image img{
    max-width: 300px;
    max-height: 3500px;
    border-radius: 5px;
}

.information__image figcaption {
    text-align: start;
}

.information__text___social li{
    font-size: 2rem;
    margin-left: 1.5rem;
}

.information__text___social li:first-of-type{ 
    margin-left: 0;
}