header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 2.5rem;
    align-items: center;
    justify-content: center;
}

h1 a {
    font-size: 1.9rem !important;
    font-weight: 500;
}

.menu__option{
    display: inline-block;
    padding-left: 2rem;
}


.menu__option:first-child {
    padding-left: 0;
}

.menu__option::first-letter {
    text-transform: uppercase;
}

.menu__option a:hover {
    color: #9AEBA3;
}

.language__option {
    display: inline-block;
    padding-left: 1rem;
    text-transform: uppercase;
}

.language__option:first-child {
    padding-left: 0;
}

.language__option span {
    font-size: 25px;
}

@media only screen and (max-width: 1200px){
    header {
        grid-template: 1fr / repeat(2, 1fr);
    }

    .menu {
        margin-top: 1rem;
    }

    .language__option {
        padding-left: .3rem;
    }
    
    .language__option {
        display: none;
    }
}

@media only screen and (max-width: 670px){
    header {
        grid-template: repeat(2, 1fr) / 1fr;
        margin-top: 1rem;
    }

    .menu {
        display: none;
    }

}