.projects__items{
    display: grid;
    gap: 2rem;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    justify-items: center;
}

.projects__items___card {
    width: 300px;
    margin-bottom: 1rem;
}

.projects__items___card img {
    border-radius: 5px;
    max-width: 18.75rem;
    margin-bottom: .2rem;
}

.project__items___card_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    justify-content: space-between;
}

.project__items___card_info a {
    color: #9AEBA3;
    text-decoration: underline;
}

.project__items___card_info a:hover {
    color: #707070;
}

.project__items___card_info p {
    color: #707070;
    text-align: end;
    font-size: .9rem;
}


@media only screen and (max-width: 1080px){
    .projects__items{
        grid-template: repeat(4, 1fr) /  1fr;
    }
}  