.skill__list___icon {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

.skill__list___icon li:first-of-type {
    margin-left: 0;
}

.skill__list___icon a {
    font-size: 2rem;
}

.skill__list___icon li p {
    margin-top: .5rem;
    font-size: .9rem;
    text-transform: capitalize;
}

.skill__list___icon a:hover {
    color: #9AEBA3;
}

@media only screen and (max-width: 670px) {
    .skill__list___icon {
        grid-template-columns: repeat(2, 1fr);
    }
}